*{
margin:0;
padding:0;
}
header{
height:140px;
background:#81F7D8;
}
.btn{
	background:#F5A9F2;
	width:30%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:15px 32%;
	
}
.texts{
	width:60%;
	height:25px;
	margin:10px 10%;
	
}
.label{
	margin-left:10%;
	
}
#main{
	width:35%;
	height:750px;
	margin:15px 10%;
	background:#F7F2E0;
	border-radius:10px;
}
.radio{
	margin:5px 5px 5px 12%;
	
}
#submit{
	width:150px;
	height:25px;
	margin:15px 10%;
	
}
